<!DOCTYPE html>
<html>
<head>
  <title>title page!</title>
</head>
<body>
  <h1>Hello from Rails!</h1>
</body>
<p>
  It's <%= @time %> now
</p>
<p>
  Is was nice having you here!
</p>
<p>
  It is time to say
  <%= link_to "goodbye", say_goodbye_path %>!
</p>
</html>
